<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= blog.title %>
    </title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>

  </head>
  <body>
    <%- include('components/nav')%>
    <%- include('components/nav-setting')%>
    <%- include('components/notification')%>
