<%- include('header')%>

  <div class="upload">
    <div class="avatar">
      <img src="/img/<%= user.avatar%>" alt="avatar">
    </div>

    <form method="post" class="upload-article">
      <div class="article-title">
        <label>标题</label>
        <input type="text" name="title">
      </div>
      <div class="article-content">
        <labei>文章内容</labei>
        <textarea name="content" rows="14"></textarea>
      </div>
      <input type="submit" value="发表文章" class="button">
    </form>
  </div>


<%- include('footer')%>