body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: #999;
}

/* -------common style--------- */
.avatar {
  display: inline-block;
}

.avatar img {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  box-shadow: 0px 0px 8px #999;
}

.signup div label,
.signin div label,
.upload-article div label {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  display: block;
  text-align: left;
}

.signin div input,
.signup div input,
.upload-article div input {
  font-size: 12px;
  line-height: 22px;
  width: 370px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.signup-bio textarea,
.article-content textarea,
.leave-word textarea {
  width: 380px;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  width: 390px;
  border: 1px solid #4fc08d;
  border-radius: 2px;
  background-color: #4fc08d;
  font-size: 14px;
  line-height: 28px;
  color: white;
  font-weight: bold;
}

.dropdown {
  display: block;
  color: #999;
  border-radius: 3px;
  box-shadow: 0px 0px 4px rgb(175, 175, 175);
}

.item {
  width: 80px;
  display: block;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  background-color: white;
}
.item:hover {
  background-color: rgb(215, 241, 233);
  color: #4fc08d;
}

/* -----------nav--------- */
.nav {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

.nav h1 {
  color: #4fc08d;
  display: inline-block;
  line-height: 24px;
}
.nav p {
  color: #999;
  line-height: 12px;
  font-size: 14px;
}

/* --------nav-setting------ */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  width: 80px;
}
.nav-setting-icon img {
  width: 26px;
}

/*----------notification----- */
.notification {
  width: 300px;
  margin: 10px auto;
  border: 1px solid rgb(144, 226, 178);
  border-radius: 3px;
  color: #2ecc71;
  text-align: center;
  line-height: 10px;
  font-size: 12px;
}
.notification-error {
  width: 300px;
  margin: 10px auto;
  border: 1px solid #e74c3c;
  border-radius: 3px;
  color: #e74c3c;
  text-align: center;
  line-height: 10px;
  font-size: 12px;
}

/* --------signup------------- */
.signup {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 8px #999;
}

.signup-gender select {
  width: 380px;
  margin-bottom: 8px;
  color: gray;
  display: inline-block;
  padding: 2px 0 5px 6px;
}

/* ------------signin ----------*/
.signin {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 8px #999;
}

/* ------------ posts-content ------------- */
.posts {
  width: 730px;
  margin: 0 auto;
}

.posts-article {
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
  padding: 20px;
  border: 1px solid #999;
  box-shadow: 1px 1px 4px #ccc;
  border-radius: 3px;
  width: 600px;
  margin-bottom: 18px;
}
.posts-article-title h1 a {
  color: #4fc08d;
}
.posts-article-title h1 {
  font-size: 18px;
  border-bottom: 1px solid #d3d0d0;
  padding: 0 0 10px 0;
}

.posts-article-content {
  color: #4d4d4d;
  margin: 4px 0;
  border-bottom: 1px solid #d3d0d0;
}

.article-footer {
  padding: 3px 0 0 0;
  position: relative;
}
.article-footer span {
  color: rgb(138, 133, 133);
  font-size: 12px;
}
.feedback {
  float: right;
}

.article-footer .dropdown {
  padding: 0;
  position: absolute;
  top: 20px;
  right: -50px;
  /* z-index: 9999; */
  background-color: white;
}

.feedback img {
  width: 12px;
  vertical-align: middle;
  margin-left: 8px;
}
/* ------ upload article ------ */
.upload {
  margin: 0 auto;
  width: 510px;
}

.upload-article {
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 3px;
  width: 400px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  box-shadow: 0px 0px 8px #999;
}

/* ------ comment ------- */
.comment {
  margin: 0 auto;
  width: 386px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 8px #999;
}
.comment-title {
  border-bottom: 1px solid #999;
  width: 380px;
}
.comment-title p {
  font-size: 20px;
  margin: 10px 0;
}
.comment-info{
  
  margin: 16px 0;
}
.comment-avatar {
  float: left;
}
.comment-avatar a img {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  box-shadow: 0px 0px 8px #999;
}
.comment-area{
  /* vertical-align: top; */
  margin-left: 64px;
}
.comment-header{
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  /* vertical-align: top; */
}
.comment-time{
  color: #999;
  font-size: 12px;
}
.comment-content{
  font-size: 12px;
}
.comment-content p {
  margin: 6px 0;
}
.delBtn{
  font-size: 12px;
  color: #000000;
  float: right;
  font-weight: 400;
  border-bottom: 1px solid #4fc08d;
}