body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: #999;
}

.button {
  background-color: #4fc08d !important;
  color: #fff !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
}

/* -----------nav--------- */
.nav {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

.nav h1 {
  color: #4fc08d;
  display: inline-block;
  line-height: 24px;
}
.nav p {
  color: #999;
  line-height: 12px;
  font-size: 14px;
}

/* --------nav-setting------ */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  width: 80px;
}
.nav-setting-icon img {
  width: 26px;
}

.dropdown-menu {
  display: block;
  /* display: none; */
  color: #999;
  border-radius: 3px;
  box-shadow: 0px 0px 4px rgb(175, 175, 175);
}

.item {
  width: 80px;
  display: block;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
}
.item:hover {
  background-color: rgb(215, 241, 233);
  color: #4fc08d;
}

/*----------notification----- */
.notification {
  width: 300px;
  margin: 10px auto;
  border: 1px solid rgb(144, 226, 178);
  border-radius: 3px;
  color: #2ecc71;
  text-align: center;
  line-height: 10px;
  font-size: 12px;
}

/* -----------posts----------- */

/* --------signup------------- */
.signup {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 8px #999;
}

.signup div {
}
.signup div label {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  display: block;
  text-align: left;
}

.signup div input {
  font-size: 12px;
  line-height: 22px;
  width: 370px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.signup-gender select {
  width: 380px;
  margin-bottom: 8px;
  color: gray;
  display: inline-block;
  padding: 2px 0 5px 6px;
}

.signup-bio textarea {
  width: 380px;
}

.signup-button {
  width: 390px;
  border: 1px solid #4fc08d;
  border-radius: 2px;
  background-color: #4fc08d;
  font-size: 14px;
  line-height: 28px;
  color: white;
  font-weight: bold;
}

/* ------------signin ----------*/
.signin {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 8px #999;
}

.signin div label {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  display: block;
  text-align: left;
}

.signin div input {
  font-size: 12px;
  line-height: 22px;
  width: 370px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.signin-submit{
  width: 390px;
  border: 1px solid #4fc08d;
  border-radius: 2px;
  background-color: #4fc08d;
  font-size: 14px;
  line-height: 28px;
  color: white;
  font-weight: bold;
}